@use '@/styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4rpx 16rpx;
  border-radius: $radius-sm;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  min-width: 72rpx;
  line-height: 1.2;
}
